:host 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .main 
    {
        max-width: 1600px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;

        .search 
        {
            margin-top: 100px;

            input 
            {
                border-bottom: 2px solid rgb(0, 45, 28);
                width: 200px;
                transition: all .3s ease;
                &:focus 
                {
                    width: 270px;
                    border-color: rgb(1, 85, 1);
                    outline: none;
                }
            }
        }
    }
}